html{

  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body{

  background: linear-gradient(orange, purple);
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem;
}

form{

  display: flex;
  justify-content: center; 
  align-items: center;
}

select{

  margin-left: 5px
}

.list{

  display:flex;
  justify-content: center;
  list-style: none;
  

}

.list li {
margin-right: 10px;

text-align: center
}

.complete{

  text-decoration: line-through;
  opacity: 0.5;
}

.add{

  font-size: 1.5rem;
}

.fa-xmark{

  background-color: red;
  color: white;
  border: none;
 
  font-size: 1.5rem;

}

.doneBnt{

  background-color: green;
  color: white;
  border: none;
 
  font-size: 1.5rem;

}

input, select{

  font-size: 1.2rem;

}

input:focus{

outline: none;
}